html {
  font: 98%/1.15 serif;
      color: #fff;

}

body {
  max-width: 48em;
  padding: 0 5%;
  margin: 0 auto;
  background-color: #000;
}

h1 {
  font: 2.3em/1.5 Phosphate, serif;
    color: #6DB4EF;
}

h2 {
  font: 1.6em/1.5 Helvetica, serif;
    color: #F6CD49;
}

/*breakpoint*/
@media (min-width: 48em) {
  body {
    font-size: 125%;
    
  }
 
  nav ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0 2em;
    list-style: none;
  }
  
  a {
    color: #fff;
  }
