html {
  font: 100%/1.4 serif;
      color: #fff;

}

body {
  max-width: 48em;
  padding: 0 5%;
  margin: 0 auto;
  background-color: #000;
}

h1 {
  font:5em/1.5 Pacifico, serif;
  color: #003399;
  text-align: center;
  margin-top: 0em;
}

h2 {
  font: 1.6em/1.5 Helvetica, serif;
  color: #F6CD49;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}


figcaption {
  font-size: 0.8em;
  line-height: 1.3;
  margin-top: 0.5rem;
}

/*breakpoint*/
@media (min-width: 48em) {
  body {
    font-size: 125%;
  }
 
  nav ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0 2em;
    list-style: none;
    text-decoration: underline;

  }
}

nav {
  display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: -2em;
    margin-block-end: 2.5em;
    margin-inline-start: -100px;
    margin-inline-end: -1000px;
    padding-inline-start: 0px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003399;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

  a {
    color: #fff;
    cursor:pointer;
    text-decoration: none;
  }
  
a:hover,
a:focus {
  background-color: #003366;
}
